//****************************************************//
//Styles for Blog Page//
//****************************************************//

//****************************************************//
//header styles
//****************************************************//
.wrapperBlog header {
    background: url('../assets/blogHeaderBackground.jpg') no-repeat;
}

//****************************************************//
//main styles
//****************************************************//

// blog post
.blogLeftColumn {
    width: 60%;
}

.blogRightColumn {
    width: 40%;
}

.blogLeftColumnInnerWrap {
    transform: translateY(-5%);
}

.blogImg img {
    box-shadow: 20px 20px 0 $mudGreen;
}

.blogTxt {
    width: calc( 100% + 20px );
    padding: 5% 5% 5% 10%;
    border-right: 3px solid $mudGreen;
    border-bottom: 3px solid $mudGreen;

    p {
    margin-bottom: 5%;
    }

    p:nth-of-type(1) {
        letter-spacing: 0.05rem;
    }

    span {
        font-weight: 700;
    }
}

// comment section
.comments {
    margin-top: 5%;
    padding: 0 10%;

    h2 {
        color: $iceBlue;
    }
}

.comment {
    margin: 10% 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.commentImg {
    width: 10%;
}

.commentTxt {
    padding-left: 3%;
    width: 90%;

    h4 {
        margin: 0;
        padding: 3% 0;
        font-family: $lato;
    }
}

// aside
.blogRightColumn {
    padding-top: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    h3 {
        font-size: 1.5rem;
        line-height: 2rem;
        letter-spacing: 0.2rem;
        color: $iceBlue;
    }
}

.asideInnerWrap {
    background: $mudGreen;
    width: 60%;
    padding: 2%;
}

.asideImg img {
    transform: translate(10px, -30px)
}

.asideMission,
.recentPosts {
    margin-bottom: 10%;
}

.postList li {
    list-style: none;
    list-style-position: inside;

    &::before {
        content: "\2022";
        color: $marigold;
        font-size: 1.3rem;
        padding: 0.3rem;
    }
}

//****************************************************//
//media Query//
//****************************************************//

@media (max-width: 1200px) {
    .asideInnerWrap {
        width: 70%;
    }
}

@media (max-width: 1170px) {
    .wrapperBlog header{
        background-position: 80%;
    }
}

@media (max-width: 1030px) {
    .asideInnerWrap {
        width: 90%;
    }
}

@media (max-width: 900px) {
    .wrapperBlog header {
        min-height: 95vh;
        background-position: 60%;
        background-size: cover;
        //without restating the background-size, the background does not fill the entire header.
    }

    .wrapperBlog main {
        flex-direction: column;
    }

    .blogLeftColumn,
    .blogLeftColumnInnerWrap {
        width: 100%;
    }

    .blogLeftColumnInnerWrap {
        transform: none;
    }

    .blogImg img {
        box-shadow: none;
    }

    .blogTxt {
        width: 100%;
        border: 2px solide $mudGreen;
    }

    .blogRightColumn {
        width: 100%;
        justify-content: center;
    }

    .asideInnerWrap {
        width: 100%;
        padding: 0 2%;
        display: flex;
    }

    .asideImg img {
        transform: translateY(-5%);
    }

    .asideTxt {
        padding: 3%;
    }

    .asideMission {
        margin-bottom: 3%;
    }

    .recentPosts {
        margin-bottom: 0;
    }

    .postList {
        margin: 0;
    }
}

@media (max-width: 750px) {
    .asideImg {
        visibility: hidden;
        width: 0;
    }
}

@media (max-width: 600px) {
    .comments {
        padding: 0 5%;
    }

    .formName,
    .formEmail {
        width: 100%;
    }

    .formName {
        margin-right: 0;
    }

    .formEmail {
        margin-left: 0;
    }
}

@media (max-width: 500px) {
    .wrapperBlog header {
        background-position: 70%;
    }

    .blogHeroTxt {
        align-items: flex-end;
        margin-bottom: 10%;
    }
}

@media (max-width: 400px) {
    .blogTxt,
    .asideTxt {
        text-align: center;
    }

    .comment {
        flex-direction: column;
    }

    .commentImg {
        width: 30%;
    }

    input[type=submit] {
        letter-spacing: 0.1rem;
    }
}