html {
  font-size: 125%; }

a {
  text-decoration: none; }

ul {
  padding: 0; }

li {
  list-style: none; }

img {
  width: 100%;
  max-width: 100%; }

.wrapper {
  max-width: 3840px;
  width: 100%;
  margin: 0 auto; }

h1,
h2,
h3,
h4,
p {
  margin: 0; }

.logo a,
h1,
h2,
h3 {
  font-family: "Dokdo", cursive; }

.logo a,
h1,
h2,
.wrapperHome h3,
h4 {
  color: #ffc600; }

.navLinks a,
.heroTxt span,
li,
p,
input,
textarea {
  font-family: "Lato", sans-serif;
  color: #fafffe; }

nav li {
  font-weight: 700; }

.heroTxt span,
input,
textarea {
  font-weight: 300; }

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  opacity: 1; }

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  opacity: 1; }

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  opacity: 1; }

input::placeholder,
textarea::placeholder {
  opacity: 1; }

.wrapper header {
  background-size: cover;
  background-repeat: no-repeat; }

.wrapperBlog header,
.wrapperContact header {
  min-height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.navBarTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.logo {
  width: 40%;
  font-size: 2.56rem;
  padding-left: 5%;
  text-align: center; }

header nav {
  width: 40%; }

.navLinks {
  padding-right: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .navLinks li:last-child {
    visibility: hidden;
    width: 0; }

.navLinks a {
  font-size: 1rem;
  line-height: 1.45rem;
  letter-spacing: 0.05rem;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: color .3s linear;
  -o-transition: color .3s linear;
  transition: color .3s linear; }
  .navLinks a:hover {
    color: #ffc600; }

.blogHeroTxt,
.contactHeroTxt {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .blogHeroTxt h1,
  .contactHeroTxt h1 {
    padding-left: 5%;
    font-size: 5.25rem;
    line-height: 3.48rem;
    letter-spacing: 0.545rem; }

h2 {
  font-size: 2.25rem;
  line-height: 2.9rem;
  letter-spacing: 0.245rem; }

p,
h4,
.postList li {
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: 0.1rem; }

.button,
input[type=submit] {
  background: #555f02;
  padding: 3px 5px;
  font-family: "Dokdo", cursive;
  font-size: 2rem;
  line-height: 2.9rem;
  letter-spacing: 0.215rem;
  color: #fafffe; }

.wrapperBlog main,
.wrapperContact main {
  background: #1e140e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

fieldset {
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.formName {
  margin-right: 1%; }

.formEmail {
  margin-left: 1%; }

.formName,
.formEmail {
  width: calc( 50% - 1%); }
  .formName input,
  .formEmail input {
    width: 100%;
    height: 45px;
    padding-left: 5%;
    background: transparent;
    border: none;
    border-bottom: 2px solid #ffc600; }

.formInput input,
.formInput textarea {
  width: 100%; }

.formInput input[type=submit] {
  border: none;
  line-height: 2rem; }

.formInput textarea {
  resize: none;
  margin: 5% 0;
  padding: 5% 0 0 5%;
  height: 200px;
  background: transparent;
  border: 2px solid #ffc600;
  vertical-align: top; }

footer {
  background: #262725; }
  footer p {
    font-family: "Lato", sans-serif;
    font-size: 1.25rem;
    line-height: 2rem;
    letter-spacing: 0.12rem;
    color: #fafffe;
    text-align: center; }

@media (max-width: 1360px) {
  nav {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
  .navLinks {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly; } }

@media (max-width: 860px) {
  .navLinks {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    .navLinks li {
      visibility: hidden;
      width: 0; }
      .navLinks li:last-child {
        visibility: visible;
        width: auto; }
    .navLinks a:last-child {
      font-size: 1.5rem;
      -webkit-transition: color .3s linear;
      -o-transition: color .3s linear;
      transition: color .3s linear; }
      .navLinks a:last-child:hover {
        color: #ffc600; } }

@media (max-width: 380px) {
  .logo {
    visibility: hidden; } }

@media (max-width: 350px) {
  .button {
    font-size: 1.6rem;
    line-height: 2.5rem; } }
