//****************************************************//
//Styles for Contact Page//
//****************************************************//

//****************************************************//
//header styles
//****************************************************//
.wrapperContact header {
    background: url('../assets/contactHeaderBackground.jpg') no-repeat;
}

//****************************************************//
//main styles
//****************************************************//
.wrapperContact main {
    justify-content: space-around;
    align-items: center;
}

.contactForm {
    width: 65%;
    
    form {
        margin-left: 10%;
        padding: 5%;
        box-shadow: 20px 20px 0 $marigold;
        background: $charcoal;
        transform: translateY(-30%);
    }
}

.contactInfo {
    width: 35%;
    padding: 9%;
}

.mediaContact ul {
    width: 70%;
    margin: 0;
    display: flex;
    justify-content: space-between;

    a {
        font-size: 1rem;
        line-height: 1.3rem;
        color: $marigold;
    }
}

.mediaContact a {
    font-family: $lato;
    font-weight: 300;
    font-size: 1rem;
    line-height: 2.5rem;
    letter-spacing: 0.05rem;
    color: $iceBlue;
}

.directContact a {
    font-family: $lato;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.05rem;
    color: $iceBlue;
}

//****************************************************//
//media Query
//****************************************************//

@media (max-width: 760px) {
    .contactHeroTxt h1 {
        line-height: 5rem;
    }
}

@media (max-width: 400px) {
    .contactHeroTxt h1 {
        font-size: 4rem;
        line-height: 4rem;
    }
}